@model string;

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div type="button">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New @Model
        </a>
    </div>
}