@using eShop.BLL.Interfaces
@using eShop.BLL.Models
@inject IUserService UserService;

@{
    var user = new UserModel();

    if (User?.Identity?.Name is not null)
    {
        user = await UserService.GetByUsernameAsync(User.Identity.Name, default);
    }
}

@if (User?.Identity is not null && !User.Identity.IsAuthenticated)
{
    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="User" asp-action="Login">
        <i class="bi bi-box-arrow-in-right"></i> Log in
    </a>
    <span style="padding: 5px;"></span>

    <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="User" asp-action="Register">
        <i class="bi bi-person-plus"></i> Register
    </a>
}
else
{
    <div class="dropdown">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-badge"></i> Hello @user?.FirstName
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            <li>
                <a class="dropdown-item" asp-controller="Order" asp-action="GetAll">
                    <i class="bi bi-list"></i> Orders
                </a>
            </li>

           @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="User" asp-action="GetAll">
                        <i class="bi bi-people"></i> Users
                    </a>
                </li>
            }
        </ul>
    </div>
    <span style="padding: 5px;"></span>
    <form asp-controller="Product" asp-action="Index">
        <button class="btn btn-outline-danger my-2 my-sm-0" onclick="logout()">
            <i class="bi bi-box-arrow-in-right"></i> Log out
        </button>
    </form>
}